@import '~bootstrap/scss/bootstrap';


$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;
$green: #406d43;
$purple: #c5c0e6;
$azureish-white: #d9f0ff;
$winter-wizard: #a3d5ff;
$light-sky-blue: #83c9f4;
$toolbox: #6f73d2;
$shadow-blue: #7681b3;


.anything {
  margin: 0 auto;
  padding-bottom: 5px;
  text-align: left;
}

body {
  background-color: $azureish-white;
}

.box {
  align-items: center;
  border: 1px solid $winter-wizard;
  border-radius: 350px;
  color: $light-sky-blue;
  display: flex;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  height: 100px;
  justify-content: center;
  width: 50px;


}

.btn {
  background-color: $toolbox;
}

.front-facing {
  font-family: 'Happy Monkey' , cursive;
  text-align: center;
}

.grey {
  background-color: $toolbox;
}

// .teal {
//   background-color: $teal;
// }
h1 {
  font-family: 'Happy Monkey' , cursive;
  text-align: center;
}

h5 {
  font-family: 'Happy Monkey' , cursive;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}

legend {
  font-family: 'Happy Monkey' , cursive;
}

.navbar {
  background-color: $azureish-white;
}

.start-log {
  align-items: center;
  display: flex;
}
